@tailwind base;
@tailwind components;
@tailwind utilities;

.opacity-panel {
  --checkered-bg: rgba(148, 163, 184, 0.35);
  background-image: linear-gradient(45deg, var(--checkered-bg) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkered-bg) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkered-bg) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkered-bg) 75%);
  background-size: 20px 20px;
  background-position: 0px 0px, 0px 10px, 10px -10px, -10px 0px;
}
